<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Eglo Cloud</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.eglo.pw/styles/styles.css" rel="stylesheet" />
    <style>
      p,
      h1 {
        color: white;
      }

      body {
        animation: fadeInAnimation ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      body::-webkit-scrollbar {
        display: none;
      }

      @keyframes fadeInAnimation {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      @media (max-width: 1550px) {
        .hidden-mobile {
          display: none;
        }
      }

      @media (min-width: 1550px) {
        .show-mobile {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <div class="hidden-mobile">
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top position-absolute top-0 start-50 translate-middle"
        style="border-radius: 42069px; width: 80%; margin-top: 40px"
      >
        <div class="container-fluid">
          <button
            class="navbar-toggler shadow-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://dash.eglo.pw/"
                  >Login</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      

    </div>





    

    <div class="show-mobile">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
          <button
            class="navbar-toggler shadow-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://dash.eglo.pw/"
                  >Login</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      

    </div>



    <div style="margin-left: 20%; margin-top: 150px; text-align: center; width: 60%; margin-bottom: 50px;">
        <h1>About us</h1>
        <br>
        <p>We are a team of developers who have always wanted affordable, easy to manage, encrypted cloud storage, so we came together to make an affordable solution that would solve all of the problems we have had. <br><br><br><br>It all started when back in 2020, Toaster started having issues with cloud storage, either it not being fast enough, or it not being safe, or even ads showing up about the things he was storing inside of the cloud. So he decided to make his own solution by himself, at first it was just a PHP project that used an API to store items and retrieve them, but eventually he proposed this project to Eglo Development so they could work on it as a team, eventually this evolved into a software that would store items inside the server directory and find them using MySQL, but this was unreliable because it was PHP and it couldn't handle too many requests at once, so files would get uploaded and not saved or saved and not uploaded, this project was called Nymi. But eventually this project was <a target="_blank" style="text-decoration: none; border-bottom:1px solid red; color: white;" href="https://twitter.com/EgloDevelopment/status/1558901590886518784?cxt=HHwWgMCoyZmvqqIrAAAA">discontinued</a> as well for something faster, and more reliable, and thats how Eglo Cloud was born, we tried switching all of our code over from PHP, but it was too hard, so did a complete remake of everything, our email service, our planning service, our video-calling service, and even our messaging service, and put it all into one, with easy integration for developers.</p>
    </div>
    

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
