<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Eglo Cloud</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.eglo.pw/styles/styles.css" rel="stylesheet" />
    <style>
      p,
      h1 {
        color: white;
      }

      body {
        animation: fadeInAnimation ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      body::-webkit-scrollbar {
        display: none;
      }

      @keyframes fadeInAnimation {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      @media (max-width: 1550px) {
        .hidden-mobile {
          display: none;
        }
      }

      @media (min-width: 1550px) {
        .show-mobile {
          display: none;
        }
      }

      @media (max-width: 930px) {
        #flex-container {
          flex-direction: column;
          margin-top: 600px;
        }
      }
    </style>
  </head>
  <body>
    <div class="hidden-mobile">
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top position-absolute top-0 start-50 translate-middle"
        style="border-radius: 42069px; width: 80%; margin-top: 40px"
      >
        <div class="container-fluid">
          <button
            class="navbar-toggler shadow-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://dash.eglo.pw/"
                  >Login</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="show-mobile">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
          <button
            class="navbar-toggler shadow-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://dash.eglo.pw/"
                  >Login</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div
      class="position-absolute top-50 start-50 translate-middle"
      style="display: flex"
      id="flex-container"
    >
      <div
        class="card"
        style="
          width: 18rem;
          text-align: center;
          margin: 10px;
          background-color: #202c3c;
        "
      >
        <div class="card-body">
          <h5 class="card-title" style="color: white">Free</h5>
          <br />
          <p style="color: white">Starter API access</p>
          <p style="color: white">Custom email</p>
          <p style="color: white">50GB cloud storage</p>
          <p style="color: white">Email forwarding x1</p>
          <p style="color: white">Messaging</p>
          <p style="color: white">5 call hours</p>
          <p style="color: white">Calendar</p>
          <br />
          <p style="color: #202c3c">Placeholder (dont look lol)</p>
          <p style="color: #202c3c">pls dont look</p>
          <p style="color: #202c3c">i dont css well</p>
          <a
            href="https://dash.eglo.pw/register/0"
            class="btn btn-primary shadow-none"
            >Free</a
          >
        </div>
      </div>

      <div
        class="card"
        style="
          width: 18rem;
          text-align: center;
          margin: 10px;
          background-color: #202c3c;
        "
      >
        <div class="card-body">
          <h5 class="card-title" style="color: white">Supporter</h5>
          <br />
          <p style="color: white">Supporter API access</p>
          <p style="color: white">Custom email</p>
          <p style="color: white">150GB cloud storage</p>
          <p style="color: white">Email forwarding x5</p>
          <p style="color: white">Messaging</p>
          <p style="color: white">Phone messaging</p>
          <p style="color: white">20 call hours</p>
          <p style="color: white">Calendar</p>
          <p style="color: white">Beta access</p>
          <br />
          <p style="color: #202c3c">just turn off your darkmode</p>
          <a
            href="https://dash.eglo.pw/register/10"
            class="btn btn-primary shadow-none"
            >$10 Mo.</a
          >
        </div>
      </div>

      <div
        class="card"
        style="
          width: 18rem;
          text-align: center;
          margin: 10px;
          background-color: #202c3c;
        "
      >
        <div class="card-body">
          <h5 class="card-title" style="color: white">Pro</h5>
          <br />
          <p style="color: white">Pro API access</p>
          <p style="color: white">Custom email</p>
          <p style="color: white">1TB cloud storage</p>
          <p style="color: white">Email forwarding x20</p>
          <p style="color: white">Messaging</p>
          <p style="color: white">Phone messaging</p>
          <p style="color: white">500 call hours</p>
          <p style="color: white">Team calendar</p>
          <p style="color: white">Beta access</p>
          <p style="color: white">24x7 support</p>
          <br />
          <a
            href="https://dash.eglo.pw/register/50"
            class="btn btn-primary shadow-none"
            >$50 Mo.</a
          >
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
