@tailwind utilities;
@tailwind base;
@tailwind components;

html {
  padding: 0px;
  margin: 0px;
  background-color: #111111 !important;
  font-family: Arial, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

p,
s,
i,
b {
  color: white;
}
